.rateBody{
    margin: 15px 15px 50px 15px;
    height: 100%;
}

.rateBody>h3{
    text-align: center;
    letter-spacing: 6px;
}
.rateBody>h4{
    font-weight: normal;
    margin-bottom: 5px;
}

.unitCls{
    background: #2A96FF;
    color: #fff;
    display: inline-block;
    padding: 3px;
}
